node_modules/
.env
*.log
temp_*
.vscode/
.idea/
.wwebjs_auth/
.wwebjs_cache/
*db
logs/*
*.mp4
backup*
auth_info_multi/
blocked_videos
transacoesMensagens.js
travamento*
inactive_restart_*
temp/*
blocked/*
package-lock.json
memoria.sh
diagnosticos/travamento_2025-03-09T17-46-27-046Z.json
