node_modules/
.env
*.log
temp_*
.vscode/
.idea/
.wwebjs_auth/
.wwebjs_cache/
*db
logs/*
*.mp4
backup*
auth_info_multi/
blocked_videos
transacoesMensagens.js
tx_*
inactive_restart_*
temp/*
blocked/*
package-lock.json
memoria.sh
diagnosticos/*
